<div>
    <div>
        <button (click)="saveCurrent()" class="btn btn-primary">Get current list in a file</button>
        <button (click)="removePoints()" class="btn btn-primary">Clear points</button>
    </div>
    <div>
        <button class="btn btn-primary" (click)="importFile(fileToImport.files[0])">Import Points</button>
        <input #fileToImport type="file" name="file" placeholder="Upload file...">
    </div>
    <div [hidden]='!points || points.length <= 0'>
        <button class="btn btn-primary" [ngClass]="sortBy.by === 'x' ? 'active-page-size': ''" (click)="resort('x')">
            <span>Sort By X</span>
            <span [hidden]="sortBy.by !== 'x'">
            	<span [hidden]="sortBy.direction <= 0">&#8593;</span><span
                    [hidden]="sortBy.direction >= 0">&#8595;</span>
            </span>
        </button>
        <button class="btn btn-primary" [ngClass]="sortBy.by === 'y' ? 'active-page-size':''"
                (click)="resort('y')">
            <span>Sort By Y</span>
            <span [hidden]="sortBy.by !== 'y'">
            	<span [hidden]="sortBy.direction <= 0">&#8593;</span><span
                    [hidden]="sortBy.direction >= 0">&#8595;</span>
            </span>
        </button>
    </div>
    <ul>
        <li *ngFor="let point of points |
			paginate: { id: 'point-pagination', itemsPerPage: pageSize, currentPage: page }, let i = index"> 
			<span>
				<span><point [point]="point"></point></span>
				<span class="point-remove-btn" (click)="remove(point)">&#10006;</span>
			</span>
        </li>
    </ul>
    <div [hidden]='!points || points.length <= 0'>
        <button class="btn btn-primary" [ngClass]="{'active-page-size': pageSize == 5}"
                (click)="pageSize = 5">5
        </button>
        <button class="btn btn-primary" [ngClass]="pageSize === 10 ? 'active-page-size':''"
                (click)="pageSize = 10">10
        </button>
        <button class="btn btn-primary" [ngClass]="pageSize === 20 ? 'active-page-size':''"
                (click)="pageSize = 20">20
        </button>
        <button class="btn btn-primary" [ngClass]="pageSize === 50 ? 'active-page-size':''"
                (click)="pageSize = 50">50
        </button>
    </div>


    <pagination-controls id="point-pagination" [hidden]='!points || points.length <= 0'
                         (pageChange)="page = $event"></pagination-controls>
</div>
