<div>
    <div>
        <input class="point-list-element" [(ngModel)]="saveListName" (keyup.enter)="saveList(saveListName)"
               placeholder="enter list name" type="text" name="">
        <button class="btn btn-primary" (click)="saveList(saveListName)">Save list</button>
    </div>

    <div>
        <select #loadSelector class='point-list-element'>
            <option *ngFor="let list of listNames">{{list}}</option>
        </select>
        <button class="btn btn-primary" (click)="loadList(loadSelector.value)">Load list</button>
    </div>

    <div>
        <select #deleteSelector class='point-list-element'>
            <option *ngFor="let list of listNames">{{list}}</option>
        </select>
        <button class="btn btn-primary" (click)="deleteList(deleteSelector.value)">Delete list</button>
    </div>
</div>
<div>
    <div *ngFor="let list of listNames">{{list}}</div>
</div>
