<div>
    <button (click)="findSquares()" class="btn btn-primary">Find Squares</button>

    <span [hidden]="!(totalSquareCount > 0)">Total number of squares: {{totalSquareCount}}</span>
    <br/>
    <div [hidden]="!(loadingText.length > 0)" [ngStyle]="{'font-weight': 'bold'}">{{loadingText}}</div>
    <br/>
    <span [hidden]="!(squares.length > 0)">Number of squares in displayed list: {{squares.length}}</span>

    <ul>
        <li *ngFor="let square of squares |
			paginate: { id: 'square-pagination', itemsPerPage: pageSize, currentPage: page }">
			<span>
				<span><point [point]='square.points[0]'></point></span>
				<span><point [point]='square.points[1]'></point></span>
				<span><point [point]='square.points[2]'></point></span>
				<span><point [point]='square.points[3]'></point></span>
			</span>
        </li>
    </ul>
    <div [hidden]='!squares || squares.length <= 0'>
        <button class="btn btn-primary" [ngClass]="{'active-page-size': pageSize == 5}"
                (click)="pageSize = 5">5
        </button>
        <button class="btn btn-primary" [ngClass]="pageSize === 10 ? 'active-page-size':''"
                (click)="pageSize = 10">10
        </button>
        <button class="btn btn-primary" [ngClass]="pageSize === 20 ? 'active-page-size':''"
                (click)="pageSize = 20">20
        </button>
        <button class="btn btn-primary" [ngClass]="pageSize === 50 ? 'active-page-size':''"
                (click)="pageSize = 50">50
        </button>
    </div>


    <pagination-controls id="square-pagination" [hidden]='!squares || squares.length <= 0'
                         (pageChange)="page = $event"></pagination-controls>
</div>
