.error-message {
    font-size: 14px;
    color: rgba(244, 22, 22, 1);
}

input.input-validation.validate-error {
    border-color: rgba(244, 22, 22, 0.7);
    box-shadow: 0 1px 1px rgba(244, 22, 22, 0.7) inset, 0 0 8px rgba(244, 22, 22, 0.7);
    outline: 0 none;
}

.point-input-container {
    display: inline-block;
    margin: 2px 0px;
}