<div [ngStyle]="{'width':'50%', 'float' :'left'}">
    <div class="section-outline">
        <span class="section-title">Point adding section</span>
        <div>
            <div class="point-input-container">
                <div>
                    <span>X value: </span>
                    <input class="input-validation" [(ngModel)]="newPoint.x" placeholder="x"
                           [ngClass]="{'validate-error': !isValidX }" type="text">
                </div>
                <div class="error-message"
                     [style.visibility]="isValidX ? 'hidden' : 'visible'">Only integers between -5000 and 5000
                </div>
            </div>
            <div class="point-input-container">
                <div>
                    <span>Y value: </span>
                    <input class="input-validation" [(ngModel)]="newPoint.y" placeholder="y"
                           [ngClass]="{'validate-error': !isValidY}" type="text">
                </div>
                <div class="error-message"
                     [style.visibility]="isValidY ? 'hidden' : 'visible'">Only integers between -5000 and 5000
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="addPoint(newPoint)">Add point</button>
        </div>
    </div>
    <div class="section-outline" [hidden]="!messages || messages.length <= 0">
        <span class="section-title">Import error messages</span>
        <div>
            <button class="btn btn-primary" (click)="clearMessages()">Clear Messages</button>
            <div *ngFor="let message of messages">{{message}}</div>
        </div>
    </div>
    <div class='section-outline'>
        <span class="section-title">Current point list section</span>
        <app-points-pagination (importFinished)="importFinished($event)"
                               (clearPoints)="clearPoints($event)"
                               (removePoint)="removePoint($event)" [points]="points"></app-points-pagination>
    </div>
</div>


<div [ngStyle]="{'width':'50%', 'float' :'right'}">
    <div class='section-outline'>
        <span class="section-title">Storage section</span>
        <app-point-storage (listLoaded)='getPoints($event)'></app-point-storage>
    </div>
    <div class='section-outline'>
        <span class="section-title">Square finder section</span>
        <app-square-finder></app-square-finder>
    </div>
</div>
