/* You can add global styles to this file, and also import other style files */
button.btn {
    margin: 5px;
}

#main-header {
    padding: 10px;
    text-align: center;
}

html, body {
	background-color: #F3F1F1;
}

.section-outline {
	border: 1px solid #C0C0C0;
	border-radius: 5px;
    padding: 15px;
    margin: 20px 10px;
}
.section-title {
	position: relative;
    top: -27px;
    left: -8px;
    padding: 0 8px;
    background-color: #EFEDED;
}

/* custom file input */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}